body {
	min-width: 500px;
	max-width: 500px;
	background: white;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: block;
    position: fixed;
    width: 100%;
    top: 0px;
    background: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.ul {
    padding: 16px;
    margin-top: 30px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
    border-radius: 5px;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

#clear-btn {
    float: right;
    background: red;
    margin-right: 60px;
}

.scrapped-item {
    background: rgb(236, 236, 236);
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
}

#listItems {
    display: table-cell;
    padding-right: 5%;
}

#delete-btn {
    display: table-cell;
    background: white;
    border-radius: 5px;
    width: 10%;
    color: red;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#delete-btn label{
    font-size: 4em;
}

#ul-el {
    padding-left: 0px;
}

li {
    list-style-position:inside;
    list-style-type: none;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}